# Sistemas de Recomendação - Doenças Coronárias

Objetivo é prever e desenvolver uma análise de um problema envolvendo a predição de doenças coronárias.

Pesquisadores coletaram diversas informações sobre pacientes que deram entradas em hospitais de Cleveland, EUA. Afirmando estarem com dores no peito. Dentre as diversas informações coletadas, é fornecido a você um dataset com 14 colunas (13
características e 1 variável alvo) sobre 303 pacientes.

Fonte original dos dados:
https://www.kaggle.com/ronitf/heart-disease-uci

## Importando os pacotes necessários e configuração

In [3]:
from pathlib import Path
import progressbar as pb
import warnings # supress warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')


import pandas as pd
# Add some convenience functions to Pandas DataFrame.
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.3f}'.format

## Fazendo download do dataset

O dataset está disponibilizado na plataforma [Kaggle](https://www.kaggle.com/) (caso não conheça, sugiro fortemente que leia sobre). Para obtermos acesso programático ao dataset precisamos obter uma senha e chave para autentificação, [aqui](https://www.kaggle.com/docs/api) você encontra como obter a sua chave.

Substitua abaixo `KAGGLE_USERNAME` e `KAGGLE_KEY` pelas informações obtidas na [configuração de conta do Kaggle](https://www.kaggle.com/ricoms/account).

In [4]:
%env KAGGLE_USERNAME = vhmgomide
%env KAGGLE_KEY = cb02d4c3b325abd25df7e43c9bf23347

!kaggle datasets download -d ronitf/heart-disease-uci --unzip -p /content/heart-disease-uci
!ls /content/heart-disease-uci

env: KAGGLE_USERNAME=vhmgomide
env: KAGGLE_KEY=cb02d4c3b325abd25df7e43c9bf23347
Downloading heart-disease-uci.zip to /content/heart-disease-uci
  0% 0.00/3.40k [00:00<?, ?B/s]
100% 3.40k/3.40k [00:00<00:00, 6.35MB/s]
heart.csv

## Carregando dados

Ler o arquivo csv e colocar em um dataframe.

In [5]:
DATA_PATH = Path("/content/heart-disease-uci")

# Load the data 
heart_df = pd.read_csv(DATA_PATH / 'heart.csv')

## Analisando os dados brevemente

O objetivo desta exploração é ser breve e superficial para nosso objetivo

In [6]:
display(heart_df.head().style.set_caption("Sample of heart.csv"))
print(f"heart.csv shape is {heart_df.shape}")

heart.csv shape is (303, 14)

In [7]:
heart_df.describe()

          age     sex      cp  trestbps  ...   slope      ca    thal  target
count 303.000 303.000 303.000   303.000  ... 303.000 303.000 303.000 303.000
mean   54.366   0.683   0.967   131.624  ...   1.399   0.729   2.314   0.545
std     9.082   0.466   1.032    17.538  ...   0.616   1.023   0.612   0.499
min    29.000   0.000   0.000    94.000  ...   0.000   0.000   0.000   0.000
25%    47.500   0.000   0.000   120.000  ...   1.000   0.000   2.000   0.000
50%    55.000   1.000   1.000   130.000  ...   1.000   0.000   2.000   1.000
75%    61.000   1.000   2.000   140.000  ...   2.000   1.000   3.000   1.000
max    77.000   1.000   3.000   200.000  ...   2.000   4.000   3.000   1.000

[8 rows x 14 columns]

In [9]:
heart_df['slope'].unique()

array([0, 2, 1])

In [10]:
heart_df.corr()

            age    sex     cp  trestbps  ...  slope     ca   thal  target
age       1.000 -0.098 -0.069     0.279  ... -0.169  0.276  0.068  -0.225
sex      -0.098  1.000 -0.049    -0.057  ... -0.031  0.118  0.210  -0.281
cp       -0.069 -0.049  1.000     0.048  ...  0.120 -0.181 -0.162   0.434
trestbps  0.279 -0.057  0.048     1.000  ... -0.121  0.101  0.062  -0.145
chol      0.214 -0.198 -0.077     0.123  ... -0.004  0.071  0.099  -0.085
...         ...    ...    ...       ...  ...    ...    ...    ...     ...
oldpeak   0.210  0.096 -0.149     0.193  ... -0.578  0.223  0.210  -0.431
slope    -0.169 -0.031  0.120    -0.121  ...  1.000 -0.080 -0.105   0.346
ca        0.276  0.118 -0.181     0.101  ... -0.080  1.000  0.152  -0.392
thal      0.068  0.210 -0.162     0.062  ... -0.105  0.152  1.000  -0.344
target   -0.225 -0.281  0.434    -0.145  ...  0.346 -0.392 -0.344   1.000

[14 rows x 14 columns]